html, body
{
  background-color: #000;
  overflow: hidden;
}

.gameboard {
  margin: 200px auto;
  border:2px solid blue;
  height: 750px;
  width: 675px;
  padding: 0;
}

.gameboard div {
  all: initial;
  padding: 0;
  margin: 0;
  color:#fff;
  width: 25px;
  height: 25px;
  float: left;
  display: inline-block;
}

.gameboard div.point-box {
  color: #fff;
  text-align: center;
  line-height: 25px;
}

.gameboard div.obstacle {
  background-color: blue;
}

.gameboard div.pacman {
  background-color: yellow;
}

.gameboard div.ghost {
  background-color: white;
}

.score {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color:#fff;
}
.score p {display: inline;}

.lives {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color:#fff;
}
.lives div {
  display: inline-block;
  background-color:yellow;
  width:25px;
  margin-left: 5px;
  height:25px;}
